#homebody{
    background-image: url(bandpic.jpg);
}
#title{
    text-align: center;
    font-size: 200px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    color: #B1312E;
}



#enterbutton{
    display: block;
    margin-top: 300px;;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    font-size: 70px;
    background-color: #B1312E;
    color:#F3C658;  
    width: 26%;
}
#enterbutton:hover{
    background-color:#F3C658;
    color: #B1312E;
}
@media screen and (max-width: 1600px){
    #title{
        font-size:150px;
    }
}

@media screen and (max-width: 1200px){
    #title{
        font-size:100px;
    }
    #enterbutton{
        width: 45%;
    }
}



#cornertitle{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 110px;
    position: fixed;
    top:0;
    left:10px;
}

#navbar{
    z-index: -1;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding:0px;
    margin:0px;
    
}

.navanchor{
    text-decoration: none;
    padding: 30px;
    color: white;
    font-size: 60px;
    
}

.navanchor:hover{
    color: #6A697C;
}

li a.active{
    text-decoration: none;
    padding: 30px;
    font-size: 60px;
    color: #519E48;
}

@media screen and (max-width: 1600px){
    #cornertitle{
        font-size: 80px;
    } 
    .navanchor{
        font-size: 40px;
    }
    li a.active{
        font-size: 40px;
    }
}
@media screen and (max-width: 1200px){
    #cornertitle{
        font-size: 60px;
    } 
    .navanchor{
        font-size: 30px;
    }
    li a.active{
        font-size: 30px;
    }
}
@media screen and (max-width: 1000px){
    #cornertitle{
        font-size: 50px;
    } 
    .navanchor{
        font-size: 26px;
    }
    li a.active{
        font-size: 26px;
    }
}
@media screen and (max-width: 900px){
    #cornertitle{
        font-size: 45px;
    } 
    .navanchor{
        font-size: 20px;
    }
    li a.active{
        font-size: 20px;
    }
}




#musicbody{
    background-color: #B1312E;
}
#albumtitle{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin-top: 100px;
    margin-left: 35%;
    font-size: 35px;
}

#talesalbum{
   width: 500px; 
   max-width: 100%;
   margin-left: 35%;
    
}
#spotify{
    margin-top: 215px;
    margin-left: 20%;
    
}
#musiccontent{
    display:flex;
    
}









.front h2{
  font-family: 'Nunito Sans', sans-serif;
  color:white;
    font-size: 70px;
}
#friends{
    font-size:40px;
}
.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cards {
  width: 88%;
  padding: 20px 0 0 0;
}
.container {
  position: relative;
  float:left;
  width: 38%;
  height: 380px;
  margin: 70px 90px; 0 4%;
  
  
  /* Set the depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}


.card {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  
  
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .front {
  background: orange;
}

.card .back {
  background: #8EC1FF;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.content {
  padding-top: 30px;
  text-align: center;
}

#vidbody {
      animation: colorchange 5s; 
       -webkit-animation: colorchange 5s; 
      animation-iteration-count: infinite;
       -webkit-animation-iteration-count: infinite;
    }

    @keyframes colorchange
    {
      20%   {background: #A5D2C4;}
      35%  {background: #B1312E;}
      50%  {background: #FBC53B;}
      75%  {background: #6A697C;}
      100% {background: #519E48;}
    }

    @-webkit-keyframes colorchange
    {
      20%   {background: #A5D2C4;}
      35%  {background: #B1312E;}
      50%  {background: #FBC53B;}
      75%  {background: #6A697C;}
      100% {background: #519E48;}
    }





#tourbody{
   background-color: #FBC53B; 
}

#top{
    margin-top:100px;
}
.ticketgrid {
  display: flex;
  margin-left: 200px;
  padding: 10px;
}
.col {
  flex: 1;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    color: black;
    
}
.colbut{
    flex:.75;
}

.colbut button{
    font-family: 'Nunito Sans', sans-serif;
    color: #B1312E; 
    font-size: 30px;
    background-color: #00B9CA;
}

.colbut button a{
    text-decoration: none;
    color: #B1312E;
}

.colbut button:hover{
    background-color:#B1312E;
}

.colbut button a:hover{
   color: #00B9CA;
}

.date{
    flex:.3;
}

#counter{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    color: #B1312E;

    
}

#gif{
    margin-top: 30px;
    width:150px;
    float:left;
}
#gif2{
    
    width:150px;
    margin-left: -150px;
    float:left;
    margin-top:600px;
}




.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #FBC53B;
  color: white;
  border: 1px white solid;
}

.fa-instagram {
  background: #6A697C;
  color: white;
  border: 1px white solid;
}

.fa-twitter {
  background: #A5D2C4;
  color: white;
  border: 1px white solid;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.social {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.social a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}





